html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
	width: 100%;
}

body {
	margin: 0;
	min-width: 320px;
	font-family: 'Ubuntu', sans-serif;
}

.header {
	background-color: #000;
}

header {
	background-color: #000;
	padding: 1.5em;
	position: relative;
}

p {
	margin: 0;
	line-height: 1.25rem;
}



h1 {
	color: #fff;
	font-size: 1.25rem;
	margin: 0;
}

.hero-img {
	position: relative;
}

.hero-text {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #fff;
	top: 150px;
	left: 50px;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	z-index: 9;
}

.intro-p {
	padding-left: .25em;
	color: #000;
}





.nav {
	display: none;
	color: #a41e23;
	list-style-type: none;
	background-color: #000;
	margin: 0;
	padding: 1.5em;
	z-index: 10;
	position: absolute;
	left: 0px;
	width: 100%;
	padding-right: 3.5em;
	font-size: 1.05rem;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #a41e23;
}
.nav a:hover {
color: #fff;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: #000;
}

.nav-label {
	cursor: pointer;
	font-size: 1.25rem;
	width: 40px;
	display: inline-block;
	position: absolute;
	right: 50px;
	top: 30px;
}

.nav-open,
.nav-close {
	display: block;
	width: 100%;
}

.nav-close {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}





h2 {
	font-weight: bold;
	font-size: 1rem;
}

ul {
	list-style-type: none;
	line-height: 1.25em;
}

.div-h2 {
	background-color: #a41e23;
	color: #fff;
	padding: 1.25em;
	margin: 0;
	position: relative;

}

.h3-quote {
	position: absolute;
	bottom: 20px;
	padding-right: 2.5em;
	right: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .75rem;
}

h3 {
	padding-left: 2em;
}


.food {
	margin: 0;
	padding: 0;
}

.reservations {
	margin-bottom: 1em;
	background-color: #000;
}

.nightlife {
}


h4 {
	padding: .75em;
	margin: 0;
	background-color: #a41e23;
	color: #fff;
}
 .night {
 	padding-left: 1em;
 }


.spaces {
	position: relative;
	margin: 1em;
}

figcaption {
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	left: 90px;
	overflow: hidden;
	font-weight: bold;
	font-size: 1.25rem;
	padding: 1em;
	text-align: center;
}

.p-rental {
	padding-left: 1em;
	padding-bottom: .50em;
	padding-right: 1em;
}







.footer {
	background-color: #000;
	padding: 1em;
	overflow: hidden;
}

.social-media {
	float: left;
	width: 25%;
}


footer {
	color: #fff;
	margin: 0;
}

.button {
	font-size: .75rem;
	float: right;
	top: 12px;
	right: 30px;
	position: relative;
	background-color: #a41e23;
	border-radius: 22px;

}

.footer-p {
	padding-bottom: 1em;
}
